# Ignore Python cache files
__pycache__/
.ssh/

# Ignore SQLite database files
*.db

# Ignore generated reports
*.csv
*.xlsx

# Ignore virtual environment
venv/
.venv/

# Ignore IDE-specific folders
.vscode/
.idea/

# Ignore settings file
settings.py
